{{#each user}}
{{id}}
{{/each}}
ssss
<div id="header" class="header">
    <a name="id_home"></a>
        <div class="width titul">
            <div class="reg inline">
                <div class="bleft inline login"><a href="/login" id="login-link" class="login-link">Login</a></div>
                <div class="bleft bright inline login"><a href="/register" id="reg-link" class="login-link">Register</a></div>
            </div>

            <div class="social inline fright">
                <ul id="social">
                <li class="bleft inline">
                    <ul style="margin-left: 10px">
                        <li><a href="https://www.facebook.com/" target="_blank"  original-title="twitter"><img src="img/social/icon_header_face.png" alt=""></a></li>
                        <li><a href="https://plus.google.com/" target="_blank"  original-title="googleplus"><img src="img/social/icon_header_g.png" alt=""></a></li>
                        <li><a href="https://twitter.com/" title="facebook" target="_blank" ><img src="img/social/icon_header_tw.png" alt=""></a></li>
                    </ul>
                </li>
                    <li class="greeting_profile"><a class="active" href="#">Hi Guest !</a></li>
                </ul>
            </div>
        </div>

        <div class="clear"></div>
        <div class="navigate">
            <div class="width">
                <div class="logo inline">
                    <h1 class="inline fleft">Mealo</h1>
                </div>

                <div class="navigation inline">
                    <ul class="nav inline menuleft">
                        <li class="active"><a class="bleft" href="index.html">HOME</a></li>
                        <li><a id="link_about" class="bleft" href="#">ABOUT</a></li>
                        <li><a id="link" class="bleft" href="#">MEALOS</a></li>
                        <li><a id="link_reg" class="bleft" href="#">CREATE A MEALO</a></li>
                        <li><a id="link_partners" class="bleft last" href="#">RESTAURANT</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div id="header_select">
                <select id="dynamic_select">
                    <option value="" selected>Select A Page</option>
                    <option value="index.html#id_about">About</option>
                    <option value="index.html#id3">Mealos</option>
                    <option value="index.html#id_reg">Create a Mealo</option>
                    <option value="index.html#id_partn">Restaurants</option>
                </select>
            </div>
        </div>


    </div>
    
    
    
<div id="navtop" class="width navigate" style="position: fixed;  display: none; top: 0px; left: 0px;right: 0px;z-index: 99999999999999999;">
    <div class="navigation">
        <ul class="nav inline menuleft">
            <li class="active"><a class="bleft" id="link_home" href="#">HOME</a></li>
            <li><a id="link_about_b" class="bleft" href="#">ABOUT</a></li>
            <li><a id="link_b" class="bleft" href="#">MEALOS</a></li>
            <li><a id="link_reg_b" class="bleft" href="#">CREATE A MEALO</a></li>
            <li><a id="link_partners_b" class="bleft last" href="#">RESTAURANTS</a></li>
        </ul>
    </div>
</div>
