<html lang="en">
<head>
<title>
Forget Password!!!
</title>
<script src="js/jquery.js"></script>
<script type="text/javascript">
$(function() {
	$("#repassword").keyup(checkPasswordMatch);
	
	function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmPassword = $("#repassword").val();

    if (password != confirmPassword)
        $("#divCheckPasswordMatch").html("Passwords do not match!");
    else
        $("#divCheckPasswordMatch").html("Passwords match.");
}

});
</script>
</head>
<body>
	<h1>Enter your email id:</h1>
	<form name="input" action="#" method="POST" id="register">
		Email:<input type="email" name="email" placeholder="Email" required="required"><br>
		<button type="submit" id="submit" value="Register">Reset password</button>
	</form>
	<div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
</body>
</html>