{{#each restdata1}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mealo - {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200,300' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/resp.css" rel="stylesheet">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <style type="text/css">
		#map-canvas {
        margin: 0;
        padding: 0;
		width:100%;
        height: 320px;
      }
    </style>
	<script>
	
		var latLong = new google.maps.LatLng({{latitude}}, {{longitude}});
		function initialize() {
								var mapOptions = {
													zoom: 15,
													center: latLong,
													mapTypeId: google.maps.MapTypeId.ROADMAP
												 }
								var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
								var marker=new google.maps.Marker({
														map: map,
														draggable: false,
														position:latLong
														});
							  }
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if IE 8]>
    <style type="text/css">
        input[type="checkbox"], input[type="radio"] {
            display: inline;
        }
        input[type="checkbox"] + label, input[type="radio"] + label{
            display: inline;
            background: none;
        }
    </style>
    <![endif]-->

    <script type="text/javascript" src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.html">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.html">
    <link rel="shortcut icon" href="../assets/ico/favicon.html">

</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=160625610780207";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                <script>
                var time = new Date("{{time}}");
                var i = time.getDate();
                var month=new Array();
                var hours = time.getHours();
                var minutes = time.getMinutes();
                var ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0'+minutes : minutes;
                var strTime = hours + ':' + minutes + ' ' + ampm;
               
                var maxseat ={{tablesize}};
                var seat ={{attend}};
                var left = maxseat - seat;
                month[0]="January";
                month[1]="February";
                month[2]="March";
                month[3]="April";
                month[4]="May";
                month[5]="June";
                month[6]="July";
                month[7]="August";
                month[8]="September";
                month[9]="October";
                month[10]="November";
                month[11]="December";
                var m = time.getMonth();
                var j = i % 10;
                if (j == 1 && i != 11) {
                    i = i + "st";
                }
                else if (j == 2 && i != 12) {
                    i = i + "nd";
                }
                else if (j == 3 && i != 13) {
                    i = i + "rd";
                }
                else
                    i = i + "th";
               
                </script>
<div id="header" class="header">
    <div class="width titul">
        <div class="social inline fright">
            <ul id="social">
                <li class="bleft inline">
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"  original-title="twitter"><img src="/img/social/icon_header_face.png" alt=""></a></li>
                        <li><a href="https://plus.google.com/" target="_blank"  original-title="googleplus"><img src="/img/social/icon_header_g.png" alt=""></a></li>
                        <li><a href="https://twitter.com/" title="facebook" target="_blank" ><img src="/img/social/icon_header_tw.png" alt=""></a></li>
                        <li><a href="http://www.linkedin.com/" target="_blank" original-title="linkedin"><img src="/img/social/icon_header_in.png" alt=""></a></li>
                        <li><a href="johndoe_domainname.html" target="_self" original-title="mail"><img src="/img/social/icon_header_p.png" alt=""></a></li>
                        <li><a href="johndoe_domainname.html" target="_self" original-title="mail"><img src="/img/social/icon_header_ball.png" alt=""></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
    <div class="navigate">
        <div class="width">
            <div class="logo inline">
                <h1 class="inline fleft">Mealo</h1>
            </div>

            <div class="navigation inline fright">
                <ul class="nav inline menuleft">
                    <li><a class="bleft" href="../">Home</a></li>
                    <li><a class="bleft" href="../#id_about">About</a></li>
                    <li class="active"><a class="bleft" href="../#id3">Mealos</a></li>
                    <li><a class="bleft" href="../#registr">Register</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div id="header_select">
            <select id="dynamic_select">
                <option value="" selected>Select A Page</option>
                <option value="../#id_about">About</option>
                <option value="../#id3">Mealos</option>
                <option value="../#id_reg">Registration</option>
            </select>
        </div>
    </div>
</div>

<div class="container-fluid line contentt description_page">

<div class="clear"></div>
<div id="map-canvas"></div>
<div class="clear"></div>
<div class="content description">
<div class="row-fluid cols">
<div class="left_content_descr span8">
<h1 class="decoration text-center"><span class="nobacgr">{{name}}</span></h1>


<div class="tabbable" style="margin-bottom: 18px;">
    <div id="tabs_pages">
        <ul class=" tabs_pages_ul row-fluid">
            <li class="active span4"><a href="#tab1" data-toggle="tab">DESCRIPTION</a></li>
        </ul>
    </div>
    <div class="tab-content" style="padding-bottom: 9px;">
        <div class="tab-pane active" id="tab1">
            <div id="description_content">
			
                <div class="title_description_content">{{description}}</div>
                <div class="text_description_content"></div>
                <div class="text_description_content"> </div>
                <div class="text_description_content"></div>				
            </div>
			<div class="payment_getaway_button">
                <button class="btn btn-large make_payment" type="button">
                    <small>EDIT/DELETE/GO</small>
                </button>
            </div>
        </div>
      
    </div>
</div>

<div id="social_uncategorized">
    <div class="left_social_uncategorized"><span>{{cuisine}}</span></div>
    <div class="social inline fright">
        <ul id="social_mid" class="bleft_social">
            <li><a href="https://twitter.com/" target="_blank"  original-title="twitter"><img src="/img/social/icon_header_face.png" alt=""></a></li>
            <li><a href="https://plus.google.com/" target="_blank"  original-title="googleplus"><img src="/img/social/icon_header_g.png" alt=""></a></li>
            <li><a href="https://www.facebook.com/" title="facebook" target="_blank" ><img src="/img/social/icon_header_tw.png" alt=""></a></li>
            <li><a href="http://www.linkedin.com/" target="_blank" original-title="linkedin"><img src="/img/social/icon_header_in.png" alt=""></a></li>
            <li><a href="johndoe_domainname.html" target="_self" original-title="mail"><img src="/img/social/icon_header_p.png" alt=""></a></li>
            <li><a href="johndoe_domainname.html" target="_self" original-title="mail"><img src="/img/social/icon_header_ball.png" alt=""></a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div id="author_review">
    <h3 class="decoration text-center"><span class="nobacgr">Host</span></h3>
    <div id="face_social_text">
        <div class="left_face_social_text span4">
            <div class="face_big span9"><div class="pix_author"></div></div>
            <div class="social_link_author">
                <div class="social_bord"><a href="#" >
                    <img class="social_decc" src="/img/description/facebook_author_icon.png" alt="">
                </a></div>
                <div class="social_bord"><a href="#" >
                    <img class="social_decc" src="/img/description/twitter_author_icon.png" alt="">
                </a></div>
                <div class="social_bord_last"><a href="#" >
                    <img class="social_decc" src="/img/description/google_author_icon.png" alt="">
                </a></div>
            </div>
        </div>
        <div class="right_face_social_text span8">
            <div class="name_surname">Sobin George Thomas</div>
            <div class="text_author_right">.</div>
        </div>
    </div>
</div>
<div class="clear"></div>
<h4 class="decoration text-center"><span class="nobacgr">Ask a Question</span></h4>
<div class="fb-comments" data-href="{{url}}" data-width="600"></div>
</div>

<div class="sidebar_descr span4">
    <div id="back_this_project_block">
		<div id="back_this_project_block_attendes">
			{{/each}}
			<div class="row-fluid">
			{{#each restdata2}}
				{{#limit @index 9}}
				{{#moduloIf @index 3}}
			</div>
			<div class="row-fluid">
				{{/moduloIf}}
				<div class="span4">
					<div class="members_block_text">
                            <div class="image_face_members_content"><div class="face_members_content"><img src={{profileimg}}></div></div>
					</div>
				</div>
				{{/limit}}
			{{/each}}
			</div>
			{{#each restdata1}}
		</div>
		<div class="members_days_blocks first">
            <div class="row-fluid">
                <div class="span1" style="margin-right: 10px"><div class="image_first"></div></div>
                <div class="text_members_days_blocks span10">
                    <div class="top_text_members_days_blocks"><script>
                                     document.write(seat);
                                    </script></div>
                    <div class="bottom_text_members_days_blocks">Attending</div>
                </div>
            </div>
        </div>
        <div class="members_days_blocks">
            <div class="row-fluid">
                <div class="span1" style="margin-right: 10px"><div class="image_second"></div></div>
                <div class="text_members_days_blocks span10">
                    <div class="top_text_members_days_blocks"><script>
                                     document.write(left);
                                    </script> </div>
                    <div class="bottom_text_members_days_blocks">seats left</div>
                </div>
            </div>
        </div>
        <div class="members_days_blocks">
            <div class="row-fluid">
                <div class="span1" style="margin-right: 10px"><div class="image_third"></div></div>
                <div class="text_members_days_blocks span10">
                    <div class="top_text_members_days_blocks"><script>
                                     document.write(strTime);
                                    </script> </div>
                    <div class="bottom_text_members_days_blocks">on <script>
                                     document.write(i);
                                     document.write(" "+month[m]);
                                    </script></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="back_this_project_button">
        <button class="btn btn-large back_project" type="button">
            <small>BACK THIS PROJECT</small>
        </button>
    </div>-->
    <div id="payment_getaway">
        <!--<h3 class="text-center payment_getaway_name"><span class="title_h3 left_t"></span>Payment Getaway<span class="title_h3 right_t"></span></h3>-->
        <h3 class="decoration text-center"><span class="nobacgr_desc">Payment Getaway</span></h3>
        <div class="payment_getaway_block">
            <div class="payment_cost">Rs. {{cost}}</div>
            <div class="your_card">
                <h3>Choose Your Card:</h3>

                <ul class="choose">
                    <li>
                        <input id="rfirst" type="radio" name="radio" checked hidden />
                        <label for="rfirst">Visa</label>
                    </li>
                    <li>
                        <input id="rsecond" type="radio" name="radio" hidden />
                        <label for="rsecond">MasterCard</label>
                    </li>
                </ul>
            </div>
            <div class="payment_getaway_button">
                <button class="btn btn-large make_payment" type="button">
                    <small>Make Payment</small>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div id="footer">
<div class="footer_bot">
        <div class="footer_bott">
            <div class="fleft">© All Rights Reserved. Made with Bits.</div>
            <div class="fright">
                <ul id="social_b" class="socialbott inline">
                    <li><a href="https://twitter.com/" target="_blank" original-title="twitter"><img src="/img/social/icon_footer_face.png" alt=""></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" original-title="googleplus"><img src="/img/social/icon_footer_g.png" alt=""></a></li>
                    <li><a href="https://www.facebook.com/" title="facebook" target="_blank"><img src="/img/social/icon_footer_tw.png" alt=""></a></li>
                    <li><a href="http://www.linkedin.com/" target="_blank" original-title="linkedin"><img src="/img/social/icon_footer_in.png" alt=""></a></li>
                    <li><a href="http://www.linkedin.com/" target="_self" original-title="mail"><img src="/img/social/icon_footer_p.png" alt=""></a></li>
                    <li><a href="http://www.linkedin.com/" target="_self" original-title="mail"><img src="/img/social/icon_footer_ball.png" alt=""></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/css3-mediaqueries.js"></script>
<script>
    /* <![CDATA[ */
    $("#link_pledges_block_info_link_1").click(function() {
        if ($('#pledges_block_info_1').is(':visible'))
        {
            $('#link_pledges_block_info_link_1').addClass('not_active');
            $("#pledges_block_info_1").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_1').removeClass('not_active');
            $("#pledges_block_info_1").toggle();
        }
    });

    $("#link_pledges_block_info_link_2").click(function() {
        if ($('#pledges_block_info_2').is(':visible'))
        {
            $('#link_pledges_block_info_link_2').addClass('not_active');
            $("#pledges_block_info_2").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_2').removeClass('not_active');
            $("#pledges_block_info_2").toggle();
        }
    });

    $("#link_pledges_block_info_link_3").click(function() {
        if ($('#pledges_block_info_3').is(':visible'))
        {
            $('#link_pledges_block_info_link_3').addClass('not_active');
            $("#pledges_block_info_3").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_3').removeClass('not_active');
            $("#pledges_block_info_3").toggle();
        }
    });

    $("#link_pledges_block_info_link_4").click(function() {
        if ($('#pledges_block_info_4').is(':visible'))
        {
            $('#link_pledges_block_info_link_4').addClass('not_active');
            $("#pledges_block_info_4").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_4').removeClass('not_active');
            $("#pledges_block_info_4").toggle();
        }
    });

    $("#link_pledges_block_info_link_5").click(function() {
        if ($('#pledges_block_info_5').is(':visible'))
        {
            $('#link_pledges_block_info_link_5').addClass('not_active');
            $("#pledges_block_info_5").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_5').removeClass('not_active');
            $("#pledges_block_info_5").toggle();
        }
    });

    $("#link_pledges_block_info_link_6").click(function() {
        if ($('#pledges_block_info_6').is(':visible'))
        {
            $('#link_pledges_block_info_link_6').addClass('not_active');
            $("#pledges_block_info_6").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_6').removeClass('not_active');
            $("#pledges_block_info_6").toggle();
        }
    });

    $("#link_pledges_block_info_link_7").click(function() {
        if ($('#pledges_block_info_7').is(':visible'))
        {
            $('#link_pledges_block_info_link_7').addClass('not_active');
            $("#pledges_block_info_7").toggle();
        }
        else
        {
            $('#link_pledges_block_info_link_7').removeClass('not_active');
            $("#pledges_block_info_7").toggle();
        }
    });

    $(function(){
        var iframe = $('#player1')[0];
        var player = $f("iframe");
        var $myCarousel = $('#myCarousel');

        player.addEvent('ready', function() {
            // player.addEvent('pause', onPause);
            player.addEvent('play', onPlay);
            //player.addEvent('playProgress', onPlayProgress);
        });


        $('#myCarousel').bind('slide', function(){
            player.api('pause');
            $('#myCarousel').carousel({
                interval: 6000
            })
        });


        function onPlay(id) {
            $myCarousel.carousel('pause');
        }


    });

    /* ]]> */


</script>
<script>
    /* <![CDATA[ */
    var a = $('.left_content_descr').height();
    $('.sidebar_descr').height(a - 70);
    /* ]]> */

</script>

<script>
    /* <![CDATA[ */
    $('#myCarousel').hover(function() {
        $('#visiblepanel').toggle();
    });
    /* ]]> */


</script>
<script>
    /* <![CDATA[ */
    $(function(){
        // bind change event to select
        $('#dynamic_select').bind('change', function () {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });
    /* ]]> */

</script>
</body>
</html>

{{/each}}